/* Add background color on LIVE site. */
.cms-logo-header {
	background-image: linear-gradient(#ae4141, #490808) !important;
}
.cms-logo {
    border-bottom: 1px solid #451a1a !important;
}
.cms-login-status {
    border-top: 1px solid #5c1919 !important;
}
.cms-logo-header span a {
    color: #fc6a6a !important;
}