*:focus {
	outline: none;
}

/* Define custom styles, relative to custom-editor.css */
/*h1 {
	font-family: 'Comfortaa' !important;
	font-size: 30px !important;
}*/

.forum-admin-features {
	display: none !important;
}

a.btn, span.btn, label.btn, form button, input[type="submit"], .Actions .action {
	color: white;
}

img.leftAlone, .captionImage.leftAlone {
    margin: 0 !important;
    float: unset !important;
    max-width: 100% !important;
}

.promote-list {
	display: none;
}

/* SMALL USER MENU ICONS */
#header .nav-utils a {
	width: 50px !important;
	font-size: 18px !important;
}

/* MEDIUM LOGO */
#header .logo-horizontal {
	padding: 0px !important;
}

#header .logo-horizontal img {
	height: 59px !important;
	max-height: 60px;
}

.link.red [class*="uk-icon-"], .section.red [class*="uk-icon-"], .current.red [class*="uk-icon-"] {
	color: #ed462f !important;
}
.link.blue [class*="uk-icon-"], .section.blue [class*="uk-icon-"], .current.blue [class*="uk-icon-"] {
	color: #6887bd !important;
}
.link.green [class*="uk-icon-"], .section.green [class*="uk-icon-"], .current.green [class*="uk-icon-"] {
	color: #55b222 !important;
}

/*member page and matching button */


.Matching-btn {
	margin-top:20px;
	margin-bottom:30px;
}

.Matching_label {
	border: solid 1px;
	border-radius: 6px;
	text-align: center;
	background: var(--primary-color);
	color: white;
	cursor: pointer;
}

.Matching_label:hover{
	background: var(--hover-color);
}

input:checked + label .Matching_label{
	background: var(--secondary-color);
	box-shadow: inset 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

#filters_Matching {
	display: none;
}

.leadIn {
    color: white !important;
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    text-shadow: 0 0 black !important;
}

.Interest {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 4px 10px 2px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.Interest:hover{
    text-decoration: none !important;
    color: white !important;
    background-color: var(--primary-color);
}

#MembersPage .ProfilNotComplet .Matching_label{
	background-color: grey;
}

#MembersPage .ProfilNotComplet input:checked + label .Matching_label{
	background: grey;
	box-shadow: unset;
}